<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container"
        <h2> Welcome to Induction test : Yiu must carefuly read the sender email address before opening the email  </h2>
        <form action="/correct" method="post">
            
            <input type="submit" value="True">
        </form>
        <form action="/wrong" method="post">
             <input type="submit" value="False">
        </form>
        <form action="/" method="post">
             <input type="submit" value="Main">
        </form>
    </div>
</body>

