<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container"
        <h2> Main </h2>
        <form action="/induction" method="post">
            
            <input type="submit" value="Induction Test">
        </form>
        <form action="/login" method="post">
             <input type="submit" value="LogIN">
        </form>
        <form action="/" method="post">
             <input type="submit" value="Exit">
        </form>
    </div>
</body>

